{% extends 'baseHome.html'%}
{% block title %}Bienvenido{% endblock %}


{% block nav %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">navegacion</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">PrimeTed</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Acerca de</a>
                </li>
                <li>
                    <a  href="#services">Herramientas</a>
                </li>
                <li>
                    <a href="{% url 'users:login' %}">Entrar</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block header-content %}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <hr>
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-xl page-scroll">Crear una cuenta</a>
        </div>
    </div>
</header>
{% endblock %}

{% block section-about %}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Acerca de!</h2>
                <hr class="light">
                <p class="text-faded">Inicia con tus proyectos ,esta plataforma esta diseñada para aumentar la productivad de los alumnos  mediante multiples herramientas tecnologicas.</p>
                <a href="#" class="btn btn-default btn-xl">Inicia!</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block section-services %}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Herramientas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Blog</h3>
                    <p class="text-muted">Un lugar donde en colaboracion se responden cuestion de la asignatura</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Repertorio</h3>
                    <p class="text-muted">Sube los archivos de tareas y proyectos de revision</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Calendario</h3>
                    <p class="text-muted">Identifica tus horarios y fechas de entrega</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}

{% block section-aside %}
<aside class="bg-dark">
        
</aside>
{% endblock %}
 
{% block footer%}
<footer  id="contact">
    <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center">
                <h2 >Desarrolladores</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                
                <p>Angel Enrique Mercado</p>
                <p>myjava@outlook.es</p>
            </div>
            <div class="col-lg-4 text-center">
                <p>Luis Miguel Sanavio</p>
                <p>me@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
