{% extends 'basePanel.html'%}
<!--the blocks is defined in basePanel you can ovewrite them wherever you want-->
<!--start mainContent-->
{% block mainContent%}
     <!--main content start-->
      <section id="main-content">
        <section class="wrapper">

          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class=""></i>{{course.materia}} {{course.salon}} 
              {% if user.is_master%}
                <button data-original-title="Codigo de acceso" data-content="{{course.codigo}}" data-placement="right" data-trigger="hover" class="btn btn-info popovers">
                  Codigo
                </button>
              {% endif %}  
              </h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="icon_documents_alt"></i>Descripcion del curso</li>
                <li><i class=""></i>Curso {{course.materia}} {{course.salon}}</li>
              </ol>
            </div>
          </div> 
          <div id="editor" class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
              {{course.descripcion}}
          </div>
          

          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header">
                <i class=""></i>Archivos del curso 
              </h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Curso</a></li>
                <li><i class="icon_documents_alt"></i>Archivos</li>
                <li><i class=""></i>Curso {{course.materia}} {{course.salon}}</li>
              </ol>
            </div>
          </div>      

          <div class="row">
              {%for file in files%}
                <a href="{{file.docfile.url}}">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="{% cycle  'info-box brown-bg' 'info-box dark-bg' 'info-box green-bg' %}">
                      <div class="count">{{file.name}}</div>
                      <div class="title" >{{file.docfile.size}} bytes</div>           
                    </div><!--/.info-box-->     
                  </div><!--/.col-->
                </a>
              {% endfor %}            
            
          </div><!--/.row--> 
          {% if user.is_master%}
          <div class="row">
              <div class="col-lg-6">
                  <section class="panel">
                      <header class="panel-heading" >
                          Subir archivo
                      </header>
                      <div class="panel-body">

                          <form  enctype="multipart/form-data" method='POST'>{% csrf_token %}
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Nombre del archivo</label>
                                  {{form.nombre}}
                                  {{form.nombre.errors}}
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputFile">Seleciona el archivo</label>
                                  {{form.file}}
                                  {{form.file.errors}}
                                 
                              </div>
                              
                              <button type="submit" class="btn btn-primary">Submit</button>
                              {{form.erros}}
                          </form>
                          <a name="subir_archivo"></a>

                      </div>
                  </section>
              </div>
            </div>  
            {% endif %}
                <!-- page end-->
          </section>

      </section>
      <!--main content end-->
{% endblock %}
