{% extends 'basePanel.html'%}

<!-- start-header-->
<!--in case overwrite header section use block header-->

<!--start mainContent-->
{% block mainContent%}
     <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="page-header"><i class=""></i>Sube una tarea al curso {{course.materia}} {{course.salon}}</h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Curso {{course.materia}} {{course.salon}}</a></li>
                <li><i class="icon_documents_alt"></i>Subir tarea</li>
              </ol>
            </div>
          </div>      

          <div class="row">
              <div class="col-lg-14">
                  <section class="panel">
                      <header class="panel-heading" >
                          Subir tarea al curso
                      </header>
                      <div class="panel-body">

                          <form  enctype="multipart/form-data" method='POST'>{% csrf_token %}
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Nombre de la tarea</label>
                                  {{form.nombre}}
                                  {{form.nombre.errors}}
                              </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Descripcion de la Tarea</label>
                                  {{form.descripcion}}
                                  {{form.descripcion.errors}}
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputFile">Seleciona el archivo</label>
                                  {{form.file}}
                                  {{form.file.errors}}
                                 
                              </div>
                              
                              <button type="submit" class="btn btn-primary">Submit</button>
                              {{form.erros}}
                          </form>
                          <a name="subir_archivo"></a>

                      </div>
                  </section>
              </div>
            </div>  

                <!-- page end-->
          </section>

      </section>
      <!--main content end-->
{% endblock %}
