{% extends 'basePanel.html'%}

<!-- start-header-->
<!--in case overwrite header section use block header-->
<!--end header -->
<!--start aside-->
{%block aside%}
      <aside>
          <div id="sidebar"  class="nav-collapse ">
             <ul class="sidebar-menu">                
                  <li class="">
                      <a class="" href="{% url 'users:panel'%}">
                          <span>Inicio</span>
                      </a>
                  </li>
              </ul>
          </div>
      </aside>
{% endblock %}
<!--end aside-->
<!--start mainContent-->
{% block mainContent%}
     <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="page-header"><i class=""></i>Nuevo Curso</h3>
              <ol class="breadcrumb">
                
                <li><i class="icon_documents_alt"></i>Nuevo Curso</li>
              </ol>
            </div>
          </div>      

          <div class="row">
              <div class="col-lg-14">
                  <section class="panel">
                      <header class="panel-heading" >
                          Crear curso
                      </header>
                      <div class="panel-body">

                          <form  enctype="multipart/form-data" method='POST'>{% csrf_token %}
                              {{form.as_p}}
                              <!--<input type="submit" > -->
                              <button type="submit" class="btn btn-primary">Crear curso</button>
                             
                              <a href="javascript:void(0)" onclick=" a= Math.floor((Math.random() * 100000) + 1); $('#codigo').val(a);">Generar codigo</a>
                             

                          </form>

                      </div>
                  </section>
              </div>
            </div>  

                <!-- page end-->
          </section>

      </section>
  {% load static from staticfiles%}
 <script src="{% static 'assets/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
      <!--main content end-->
{% endblock %}
