{% extends 'basePanel.html'%}

<!-- start-header-->
{% block header %}
<header class="header dark-bg">
      <div class="toggle-nav">
          <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
      </div>

      <!--logo start-->
      <a href="{% url 'users:panel'%}" class="logo">Plataforma D<span class="lite">E Estudio</span></a>
      <!--logo end-->

      <div class="top-nav notification-row">                
          <!-- notificatoin dropdown start-->
          <ul class="nav pull-right top-menu">
              
              <!-- task notificatoin start -->
              
              <!-- task notificatoin end -->
              <!-- inbox notificatoin start-->
              <li id="mail_notificatoin_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <i class="icon-envelope-l"></i>
                      <span class="badge bg-important">1</span>
                  </a>
                  <ul class="dropdown-menu extended inbox">
                      <div class="notify-arrow notify-arrow-blue"></div>
                      <li>
                          <p class="blue">Tienes 1 nuevo mensaje</p>
                      </li>
                      <li>
                          <a href="#">
                              <span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                              <span class="subject">
                              <span class="from">Administrador</span>
                              <span class="time">1 dia</span>
                              </span>
                              <span class="message">
                                  Bienvenido a la Plataforma
                              </span>
                          </a>
                      </li>
                      
                      <li>
                          <a href="#">See all messages</a>
                      </li>
                  </ul>
              </li>
              <!-- inbox notificatoin end -->
              <!-- alert notification start-->
              <li id="alert_notificatoin_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                      <i class="icon-bell-l"></i>
                      <span class="badge bg-important">0</span>
                  </a>
                  <ul class="dropdown-menu extended notification">
                      <div class="notify-arrow notify-arrow-blue"></div>
                      <li>
                          <p class="blue">No tienes notificaciones</p>
                      </li>
                                               
                      <li>
                          <a href="#">See all notifications</a>
                      </li>
                  </ul>
              </li>
              <!-- alert notification end-->
              <!-- user login dropdown start-->
              <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="profile-ava">
                          <img alt="" src="{{user.avatar}}" width="45px" height="45px">
                      </span>
                      <span class="username">{{user.username}}</span>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu extended logout">
                      <div class="log-arrow-up"></div>
                      <li class="eborder-top">
                          <a href="{% url 'users:panel'%}"><i class="icon_profile"></i> Perfil</a>
                      </li>
                      
                      <li>
                          <a href="{% url 'users:logout'%}"><i class="icon_key_alt"></i> Salir</a>
                      </li>
                      
                  </ul>
              </li>
              <!-- user login dropdown end -->
          </ul>
          <!-- notificatoin dropdown end-->
      </div>
</header>      
{% endblock %}
<!--end header -->
<!--start aside-->
{%block aside%}
      <aside>
          <div id="sidebar"  class="nav-collapse ">
             <ul class="sidebar-menu"> 
                  {%if user.is_master%}
                  <li class="sub-menu">
                      <a class="active" href="javascript:;">
                           <i class="icon_document_alt"></i>
                          <span>Contenido</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">                        
                        
                          <li><a class="" href="">Editar</a></li> 
                          <li><a class="" href="{% url 'courses:Info' course.id%}">ver</a></li>                             
                                                                     
                      </ul>
                  </li>
                  {%else%}
                    <li class="">
                        <a class="" href="{% url 'courses:Info' course.id%}">
                            <span>Contenido del curso</span>
                        </a>
                    </li>
                  {% endif %}               
                  
                  
                  {%if user.is_master%}
                    <li class="">
                      <a class="" href="{% url 'courses:listStudents' course.id%}">
                          <span>Lista de alumnos</span>
                      </a>
                  </li>
                  {% endif %}
                  <li class="sub-menu">
                      <a class="active" href="javascript:;">
                           
                          <span>Tareas</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                                           
                        <ul class="sub">                        
                        
                          
                         {% if user.is_master%}
                                <li><a class="" href="{% url 'courses:CreateHomework' course.id%}">Asignar Tarea</a></li>     <li><a class="" href="{% url 'courses:HomeworksCourse' course.id%}">Tareas del curso</a></li>  <li><a class="" href="{% url 'courses:HomeworksStudents' course.id%}">Tareas de Alumnos</a></li>
                            {%else%}
                                <li><a class="" href="{% url 'courses:CreateHomework' course.id%}">Entregar Tarea</a></li>
                                <li><a class="" href="{% url 'courses:HomeworksUser' course.id%}">Mis tareas</a></li>
                                <li><a class="" href="{% url 'courses:HomeworksCourse' course.id%}">Tareas del curso</a></li>
                         {% endif %}                                      
                      </ul>                                    
                      
                  </li>
                  
              </ul>
          </div>
      </aside>
{% endblock %}
<!--end aside-->
<!--start mainContent-->
{% block mainContent%}
     <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class=""></i>Tareas del curso {{course.materia}} {{course.salon}} </h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="icon_documents_alt"></i>Paginas</li>
                <li><i class=""></i>Curso</li>
              </ol>
            </div>
          </div>   
           <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              {%if user.is_master%}
                                Las tareas del curso son aquellas que sube el maestro
                                {%else%}
                                Mis tareas
                              {% endif %}

                          </header>
                          
                          <table class="table table-striped table-advance table-hover">
                           <tbody>
                              <tr>
                                 <th>Nombre de la Tarea</th>
                                 <th>Asignatura</th>
                                 <th>Descargar Archivo</th>
                                 <th>Revisiones del maestro</th>
                              </tr>
                             {% for homework in homeworks_course %}
                                 <tr>
                                 <td>{{homework.nombre}}</td>
                                 <td>{{course.materia}}</td>
                                 <td><a href="{{homework.docfile.url}}">archivo {{homework.docfile.name}}</a></td>  <td>
                                  {% for revicion in homework.review_set.all%}
                                    {{revicion.descripcion}}
                                    {% if revicion.calificacion %}
                                      "la calificacion es: "{{revicion.calificacion}}
                                    {%else%}
                                      "no tienes calificion"
                                    {% endif %}
                                  {% endfor%}
                                 </td>                              
                              </tr>
                             {% endfor %}
                              
                                                      
                           </tbody>
                        </table>
                      </section>
                  </div>
          </section>
      </section>
      <!--main content end-->
{% endblock %}
